body{
    border-image: linear-gradient(to right, #060918, #04d5ff78,#060918) 1;
    border-image-slice: 1;
    background-color: #060918;
}
.slide{
    background-size: cover;
    margin: 0px;
    padding: 0px;
    backface-visibility: hidden;
    height: 599px;
    width: 100%;
    transform: translateX(0px) translateY(0px);
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 5px solid white;
    z-index: -1;
}
.text{
    position: absolute;
}
.slide-1{
    /* background-image: url(../public/images/slide-1.jpg); */
    /* background-color: rgb(136, 200, 255); */
    height: 100vh;
   
}

.slide-2{
    /* background-image: url(../public/images/slide-2.jpg); */
    /* background-color: aliceblue; */
    height: 100vh;
}
.text-white{
    color: aliceblue;
}
